[submodule "public/ArknightsGameData"]
	path = public/ArknightsGameData
	url = https://github.com/Kengxxiao/ArknightsGameData.git
[submodule "public/ArknightsGameData_YoStar"]
	path = public/ArknightsGameData_YoStar
	url = https://github.com/Kengxxiao/ArknightsGameData_YoStar.git
[submodule "storage/app/public/arknights-images"]
	path = storage/app/public/arknights-images
	url = https://github.com/SanityGoneAK/arknights-images
